table, th {
    border-collapse: collapse;
    border: 2px solid black;
}

td {
    border-collapse: collapse;
    border: 2px solid black;
    width: 400px;
    height: 10px;
}

#container {
    display: flex;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 15px;
    background: linear-gradient(45deg, rgb(17, 17, 83), rgb(153, 27, 82));  
    padding: 5px;
    gap: 30px;
 }

#container > p {
    padding: 10px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

a {
    color: white;
}

iframe {
    frameborder: "0";
}
